rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function getRole() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role;
    }

    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false; // manage roles from the console or an admin backend only
    }

    match /classes/{classId} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null && getRole() == 'admin';
    }

    match /courses/{courseId} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null && getRole() == 'admin';
    }
  }
}
